<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết đơn hàng</title>
</head>
<body>

<h1>Chi tiết đơn hàng</h1>

<p><b>Mã đơn:</b> {{ order["order_code"] }}</p>
<p><b>Khách hàng:</b> {{ order["fullname"] }}</p>
<p><b>SĐT:</b> {{ order["phone"] }}</p>
<p><b>Facebook/Zalo:</b> {{ order["contact"] }}</p>

<p><b>Địa chỉ:</b></p>

<p>
{{ order["address_detail"] }},
{{ order["ward"] }},
{{ order["district"] }},
{{ order["province"] }}
</p>

<p><b>Sản phẩm:</b> {{ order["product_name"] }}</p>

<p><b>Tiền cọc:</b> {{ "{:,}".format(order["deposit"]) }} đ</p>

<form
    action="/admin/order/{{ order['id'] }}/update"
    method="POST">

   <p><b>Trạng thái</b></p>

<select name="status">

    <option
    value="Chưa thanh toán"
    {% if order["status"]=="Chưa thanh toán" %}selected{% endif %}>
    Chưa thanh toán
    </option>

    <option
    value="Đã cọc"
    {% if order["status"]=="Đã cọc" %}selected{% endif %}>
    Đã cọc
    </option>

    <option
    value="Đã chuyển khoản full"
    {% if order["status"]=="Đã chuyển khoản full" %}selected{% endif %}>
    Đã chuyển khoản full
    </option>

    <option
    value="Đang chuẩn bị hàng"
    {% if order["status"]=="Đang chuẩn bị hàng" %}selected{% endif %}>
    Đang chuẩn bị hàng
    </option>

    <option
    value="Đã gửi hàng"
    {% if order["status"]=="Đã gửi hàng" %}selected{% endif %}>
    Đã gửi hàng
    </option>

    <option
    value="Hoàn thành"
    {% if order["status"]=="Hoàn thành" %}selected{% endif %}>
    Hoàn thành
    </option>

    <option
    value="Đã hủy"
    {% if order["status"]=="Đã hủy" %}selected{% endif %}>
    Đã hủy
    </option>

    <option
    value="Hết hạn thanh toán"
    {% if order["status"]=="Hết hạn thanh toán" %}selected{% endif %}>
    Hết hạn thanh toán
    </option>

</select>

<br><br>

<button type="submit">
    💾 Lưu trạng thái
</button>

</form>

<p><b>Thời gian:</b> {{ order["created_at"] }}</p>

<p><b>Ghi chú:</b> {{ order["note"] }}</p>

<hr>

<a href="/admin">⬅ Quay lại danh sách</a>

</body>
</html>
