<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">

    <title>Đặt Pre-order</title>

</head>

<body>

<h2>Đặt Pre-order</h2>

<form>

    <p>

        Họ và tên

    </p>

    <input type="text">

    <br><br>

    <p>

        Số điện thoại

    </p>

    <input type="text">

    <br><br>

    <p>

        Facebook hoặc Zalo

    </p>

    <input type="text">

    <br><br>

    <p>

        Số lượng

    </p>

    <input type="number" value="1">

    <br><br>

    <button>

        Gửi đơn

    </button>

</form>

</body>

</html>
