<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Đặt Pre-order</title>


    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/preorder.css') }}"
    >

</head>


<body>


{% include "components/product_info.html" %}


{% include "components/customer_form.html" %}


<a
    href="/"
    class="back-link"
>
    ← Quay lại trang chủ
</a>


<script
    src="{{ url_for('static', filename='js/address.js') }}"
></script>


</body>

</html>