<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">

    <title>Quản lý sản phẩm</title>

</head>


<body>


<h1>Danh sách sản phẩm</h1>


<p>

<a href="/admin">
⬅ Quay lại đơn hàng
</a>

</p>


<p>

<a href="/admin/products/add">
➕ Thêm sản phẩm
</a>

</p>


<hr>



<table border="1" cellpadding="8" cellspacing="0">


<tr>

    <th>ID</th>

    <th>Hãng</th>

    <th>Tên sản phẩm</th>

    <th>Giá</th>

    <th>Tiền cọc</th>

    <th>Dự kiến</th>

    <th>Trạng thái</th>

    <th>Thao tác</th>

</tr>



{% for product in products %}


<tr>


<td>
{{ product["id"] }}
</td>


<td>
{{ product["brand"] }}
</td>


<td>
{{ product["name"] }}
</td>


<td>
{{ "{:,}".format(product["price"]) }} đ
</td>


<td>
{{ "{:,}".format(product["deposit"]) }} đ
</td>


<td>
{{ product["eta"] }}
</td>


<td>
{{ product["status"] }}
</td>


<td>


<form
action="/admin/products/{{ product['id'] }}/delete"
method="POST"
>


<button
type="submit"
onclick="return confirm('Xóa sản phẩm này?');"
>

🗑 Xóa

</button>


</form>


</td>


</tr>


{% endfor %}



</table>


</body>

</html>