<form
    action="/submit"
    method="POST"
    id="preorder-form"
>


    <input
        type="hidden"
        name="product_id"
        value="{{ product.id }}"
    >


    <label>
        Họ và tên
    </label>

    <br>

    <input
        type="text"
        name="fullname"
        required
    >

    <br><br>


    <label>
        Số điện thoại
    </label>

    <br>

    <input
        type="text"
        name="phone"
        required
    >

    <br><br>


    <label>
        Facebook hoặc Zalo
    </label>

    <br>

    <input
        type="text"
        name="contact"
    >

    <br><br>


    <label>
        Số lượng
    </label>

    <br>

    <input
        type="number"
        name="quantity"
        value="1"
        min="1"
    >

    <br><br>


    <label>
        Tỉnh / Thành phố
    </label>

    <br>

    <select
        id="province"
        name="province"
        required
    >

        <option value="">
            -- Chọn tỉnh --
        </option>

    </select>

    <br><br>


    <label>
        Quận / Huyện
    </label>

    <br>

    <select
        id="district"
        name="district"
        disabled
        required
    >

        <option value="">
            -- Chọn quận / huyện --
        </option>

    </select>

    <br><br>


    <label>
        Phường / Xã
    </label>

    <br>

    <select
        id="ward"
        name="ward"
        disabled
        required
    >

        <option value="">
            -- Chọn phường / xã --
        </option>

    </select>

    <br><br>


    <label>
        Địa chỉ chi tiết
    </label>

    <br>

    <input
        type="text"
        name="address_detail"
        placeholder="Ví dụ: Số 123 Nguyễn Trãi"
        required
    >

    <br><br>


    <label>
        Ghi chú
    </label>

    <br>

    <textarea
        name="note"
        placeholder="Ghi chú thêm (nếu có)"
    ></textarea>

    <br><br>


    <label>
    Hình thức thanh toán
</label>

<br>

<select
    name="payment_type"
    required
>

    <option value="deposit">
        Cọc một phần
    </option>

    <option value="full">
        Chuyển khoản full
    </option>

</select>

<br><br>

    <button
        type="submit"
        class="submit-button"
    >

        Gửi đơn

    </button>


</form>
